* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.startForm {
    z-index: 7;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(72, 209, 204, 1);
}

.startLetter {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -90%);
    background-color: white;
    max-height: 500px;
    width: 800px;
    padding: 20px;
    padding-bottom: 80px !important;
    border-radius: 10px;
    transition: .5s;
}

.startLetter.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
}

.contentLetter::-webkit-scrollbar {
    background-color: white;
    width: 4px;
}

.contentLetter::-webkit-scrollbar-thumb {
    background-color: pink;
}

.contentLetter {
    background-color: whitesmoke;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 34px;
    padding: 20px;
    font-family: 'Dancing Script', cursive !important;
}

.myAI {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 100px;
}

.sticker {
    position: absolute;
    bottom: 0;
    transform: translateY(60%);
    content: "";
    height: 100px;
    width: 40px;
    background-color: pink;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%);
    border-radius: 10px;
    animation: animateStartLetter 1s ease-in-out infinite alternate;
}

.sticker::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 6px rgb(253, 178, 191);
}

.recieve {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    padding: 10px;
    border: none;
    border-radius: 50%;
    opacity: 0;
    transition: .5s;
}

.recieve:hover {
    cursor: grab;
    box-shadow: 4px 4px 4px gray;
}

.recieve:active {
    cursor: grabbing;
}

.recieve>i {
    font-size: 30px;
    color: rgb(250, 147, 164);
}

/* ---------------------------------------------------------------- */
.backgroundParty {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(72, 209, 204, 1);
}

.balloon {
    position: absolute;
    bottom: 30px;
    width: 150px;
    animation: animateBalloon 1s ease-in-out infinite alternate;
    z-index: 5;
}

.balloon1 {
    left: 30%;
}

.balloon2 {
    right: 30%;
}

.bannerParty {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20px);
    animation: animateBanner 1s ease-in-out 1s infinite alternate;
    z-index: 5;
}

@keyframes animateBalloon {
    to {
        transform: translateY(-30px);
    }
}

@keyframes animateBanner {
    to {
        transform: translate(-50%, -20px);
    }
}

@keyframes animateBannerMobile {
    to {
        transform: translate(-50%, -40px);
    }
}


.letterForm {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    transition: .5s;
    z-index: 6;
}

.letterForm::before {
    position: absolute;
    background-color: #e69c9f;
    width: 100px;
    height: 100px;
    content: "";
    bottom: 0;
    left: 0;
    clip-path: polygon(0 40%, 50% 0, 100% 40%, 100% 100%, 0 100%);
}

.letterForm::after {
    position: absolute;
    width: 100%;
    background-color: #000;
    content: "";
    height: 10px;
    bottom: -30px;
    opacity: .4;
    filter: blur(10px);
}

.content {
    position: absolute;
    background-color: #F2EEE4;
    width: 80%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -10px);
    height: 80px;
    transition: .5s;
    padding: 20px;
    border-radius: 10px;
    border: solid 6px #A88557;
}

.content > p {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}

.designBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #d26f72;
    display: block;
    clip-path: polygon(0 0, 50% 35%, 100% 0, 100% 100%, 0 100%);
}

.designBox::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: #bd5559;
    content: "";
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.letterForm:hover .content {
    transform: translate(-50%, -20px);
}

.content.actived {
    bottom: 150px;
    width: 300px;
    height: fit-content;
    max-height: 450px;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
}

/* ---------------------------CONTENT------------------------ */

.img1 {
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    border: solid 4px #A88557;
}

.eleActive {
    display: block;
}

.img1>img {
    width: 100%;
}

.close {
    opacity: 0;
    transition: .5s;
}

.mainContent {
    overflow: auto;
    width: 100%;
    font-family: 'Dancing Script', cursive !important;
    font-size: 24px;
}

/* ---------------------------KEYFRAME---------------------- */
@keyframes animateStartLetter {
    from {
        transform: rotate(30deg) translateY(60%);
    }

    to {
        transform: rotate(-30deg) translateY(60%);
    }
}

/* -----------------------------RESPONSIVE---------------------- */
/* Mobile */
@media all and (max-width: 768px) {
    .startForm {
        width: 100%;
        height: 100%;
        overflow: hidden !important;
    }

    .startLetter {
        width: 90%;
        height: fit-content;
        padding-bottom: 60px !important;
    }

    .contentLetter {
        font-size: 24px;
    }

    .myAI {
        height: 80px;
        bottom: 10px;
        right: 10px;
    }

    .recieve {
        bottom: 10px;
        box-shadow: 4px 4px 4px gray;
    }

    .recieve>i {
        font-size: 24px;
    }
  
    .bannerParty {
        position: absolute;
        top: 100px;
        width: 100%;
        max-width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        animation: animateBannerMobile 1s ease-in-out 1s infinite alternate;
    }

    .balloon {
        bottom: 100px;
        width: 100px;
    }

    .balloon1 {
        left: 30px;
    }

    .balloon2 {
        right: 30px;
    }

    .content {
        width: 80%;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0px);
        height: 80px;
        transition: .5s;
        padding: 20px;
    }

    .content.actived {
        bottom: 100px;
    }
}

@keyframes moveLight {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    10% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(80vh);
    }
}